body {
    background: #000;
}

#topRight {
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
    animation: draw 6s infinite;
}
#pathOne {
    stroke-dasharray: 2790;
    stroke-dashoffset: 2790;
    animation: draw 10s infinite;
}

#spacebar {
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    animation: draw 6s infinite;
      /* animation-direction: alternate-reverse; */
}

#upDownArrow {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: draw 5s infinite;
}

#tab {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: draw 3s infinite;
}

#rightCommand {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: draw 7s infinite;
}

#delete {
    stroke-dasharray: 531;
    stroke-dashoffset: 531;
    animation: draw 9s infinite;
}

#leftShift {
    stroke-dasharray: 420;
    stroke-dashoffset: 420;
    animation: draw 4s infinite;
}

#rightShift {
    stroke-dasharray: 420;
    stroke-dashoffset: 420;
    animation: draw 6s infinite;
}

#j {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: draw 9s infinite;
}

#seven {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: draw 3s infinite;
}

#return {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: draw 10s infinite;
}

#leftOption {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: draw 7s infinite;    
}

#fn {
    stroke-dasharray: 230;
    stroke-dashoffset: 230;
    animation: draw 5s infinite;    
}

#leftOption {
    stroke-dasharray: 250;
    stroke-dashoffset: 250;
    animation: draw 3s infinite;    
}

#caps {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: draw 3s infinite;
}

#e {
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation: draw 4s infinite;
}

#f2 {
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation: draw 6s infinite;
}

#rightOption {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: draw 3s infinite;
}
#q {
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation: draw 5s infinite;
}

#s {
    stroke-dasharray: 408;
    stroke-dashoffset: 408;
    animation: draw 5s infinite;
} 

#test {
    stroke-dasharray: 20;
    stroke-dashoffset: 20;
    animation: test 5s infinite;
}

#f {
    stroke-dasharray: 220;
    stroke-dashoffset: 220;
    animation: draw 8s infinite;
}

#one {
    stroke-dasharray: 220;
    stroke-dashoffset: 220;
    animation: draw 2s infinite;
}

#tick {
    stroke-dasharray: 407;
    stroke-dashoffset: 407;
    animation: draw 4s infinite;
}

#leftBracket {
    stroke-dasharray: 340;
    stroke-dashoffset: 340;
    animation: draw 4s infinite;
}

#plus {
    stroke-dasharray: 220;
    stroke-dashoffset: 220;
    animation: draw 2s infinite;
}

#two {
    stroke-dasharray: 220;
    stroke-dashoffset: 220;
    animation: draw 5s infinite;
}

#minus {
    stroke-dasharray: 220;
    stroke-dashoffset: 220;
    animation: draw 5s infinite;
}

#three {
    stroke-dasharray: 220;
    stroke-dashoffset: 220;
    animation: draw 5s infinite;
}

#t {
    stroke-dasharray: 220;
    stroke-dashoffset: 220;
    animation: draw 6s infinite; 
}

#i {
    stroke-dasharray: 220;
    stroke-dashoffset: 220;
    animation: draw 5s infinite;
}

#nine {
    stroke-dasharray: 220;
    stroke-dashoffset: 220;
    animation: draw 5s infinite;
}

#zero {
    stroke-dasharray: 220;
    stroke-dashoffset: 220;
    animation: draw 8s infinite;
}

#rightBracket {
    stroke-dasharray: 220;
    stroke-dashoffset: 220;
    animation: draw 2s infinite;
}

#innerEject {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: draw 4s infinite; 
    /* animation-direction: alternate-reverse; */
    /* animation-iteration-count: 1; */
}

#six {
    stroke-dasharray: 407;
    stroke-dashoffset: 407;
    animation: draw 3s infinite; 
}

#five {
    stroke-dasharray: 407;
    stroke-dashoffset: 407;
    animation: draw 9s infinite; 
}

#pipe {
    stroke-dasharray: 407;
    stroke-dashoffset: 407;
    animation: draw 8s infinite; 
}

#u {
    stroke-dasharray: 407;
    stroke-dashoffset: 407;
    animation: draw 8s infinite; 
}

#p{
    stroke-dasharray: 407;
    stroke-dashoffset: 407;
    animation: draw 4s infinite; 
}

#f1{
    stroke-dasharray: 342;
    stroke-dashoffset: 342;
    animation: draw 5s infinite; 
}

#f7{
    stroke-dasharray: 341;
    stroke-dashoffset: 341;
    animation: draw 7s infinite; 
}

#esc{
    stroke-dasharray: 341;
    stroke-dashoffset: 341;
    animation: draw 4s infinite; 
}

#f6{
    stroke-dasharray: 341;
    stroke-dashoffset: 341;
    animation: draw 3s infinite; 
}

#four{
    stroke-dasharray: 407;
    stroke-dashoffset: 407;
    animation: draw 11s infinite; 
}

#m{
    stroke-dasharray: 407;
    stroke-dashoffset: 407;
    animation: draw 4s infinite;
}

#d{
    stroke-dasharray: 407;
    stroke-dashoffset: 407;
    animation: draw 9s infinite;
}

#n{
    stroke-dasharray: 407;
    stroke-dashoffset: 407;
    animation: draw 9s infinite;
}

#a{
    stroke-dasharray: 407;
    stroke-dashoffset: 407;
    animation: draw 11s infinite;
}

#b{
    stroke-dasharray: 407;
    stroke-dashoffset: 407;
    animation: draw 11s infinite;
}

#f{
    stroke-dasharray: 407;
    stroke-dashoffset: 407;
    animation: draw 7s infinite;
}

#question {
    stroke-dasharray: 407;
    stroke-dashoffset: 407;
    animation: draw 7s infinite;
}

#greaterThan {
    stroke-dasharray: 407;
    stroke-dashoffset: 407;
    animation: draw 5s infinite;
}
@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }

    /* 0% {stroke-dashoffset: 0;} */
    /* 50% {stroke-dashoffset: 500;} */
    /* 100% {stroke-dashoffset: 0;} */

}

@keyframes test {
    to {
        stroke-dashoffset: 100;       
    }
}